@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  background: #35393dc7;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.card {
  background-color: #2e32369f;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
}

h1 {
  color: #ffffff;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-bottom: 20px; 
}

.label-float {
  position: relative;
  padding-top:  35px;
  margin-top: 20%; 
  margin-bottom: 5%;
  color: #a8afac;
}

.label-float input{
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  background: #ffffff;
  color: #000000de;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.label-float input:focus{
  border-bottom: 2px solid #000000;
}

.label-float text{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 11px;
  color: #ffffff;
  transition: all.3s ease-out; 
}

.label-float label{
  color: #ffffff;
  position: absolute;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  top: 0;
  left: 0;
  margin-bottom: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: 0;
  color: #ffffff
}

button{
  width: 100%;
  padding: 20px 40px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 1000;
  letter-spacing: 8px;
  color: #000000;
  background: #9b9b9b;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00000052;
}

button:hover{
  background-color: #07070ae1;
  color: #fff;
}

.justify-center{
  display: flex;
  justify-content: center;
}

hr{
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
}

p{
  color: #000000;
  font-size: 14pt;
  text-align: center;
}


 